body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: black;
  font-family: monospace;
}

.bg {
  filter: grayscale();
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

ul li {
  cursor: pointer;
  display: inline;
  margin: 0 0 0 50px;
}


.links {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  position: fixed;
  bottom: 18%;
  right: 4%;
}

.nav {
  display: flex;
  color: white;
  font-size: 15rem;
  font-weight: bold;
  position: fixed;
  bottom: 2rem;
  right: 0;
  user-select: none;
}